<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-responsive.min.css"/>

		<script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>

		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/js/imhacker.js"></script>

		<style>
			body {
				padding: 30px 0 0 0;
			}

			#windows .btn {
				padding: 5px 20px;
			}

			canvas {
				border: 1px solid #ccc;
			}
		</style>

		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container">
			<div class="btn-toolbar" id="windows">
				<div class="btn-group">
					<button class="btn" data-num="0">0</button>
					<button class="btn" data-num="1">1</button>
					<button class="btn" data-num="2">2</button>
					<button class="btn" data-num="3">3</button>
					<button class="btn" data-num="4">4</button>
					<button class="btn" data-num="5">5</button>
					<button class="btn" data-num="6">6</button>
					<button class="btn" data-num="7">7</button>
					<button class="btn" data-num="8">8</button>
					<button class="btn" data-num="9">9</button>
				</div>
			</div>

			<canvas id="time-graph" width="480" height="200"></canvas>

			<h1>log</h1>
			<pre id="log"></pre>
		</div>
	</body>
</html>
